body {
    padding:0;
    margin:0;
    font-family:roboto;
    background-color:#e6e2da;
    color:#8f8c88;
}
h6 {
    padding:0;
    margin:0;
    font-size:16px;
    font-weight:normal;
    color:#a60000;
}
header {
    padding:0;
    margin:0;
    position:fixed;
    z-index:999;
    width:100%;
    background-color:#f2f0ec;
    border-bottom:1px solid #93959a;
    box-shadow:0 0 15px 0 #93959a;    
}
header h1 {
    padding:0;
    margin:0;
    display:inline-block;
    font-weight:300;
}
#nav {
    margin:0;
    padding:0;
    display:inline;
    list-style:none;
    position:relative;
    top:10px;
    float:right;
}
#nav li {
    margin:0 10px 0 10px;
    padding:0;
    display:inline;
}
a {
    color:#dfb562;
    text-decoration:none;
}
a:hover {
    color:#a60000;
}
#login_popup {
    padding:5px;
    position:relative;
    float:right;
    width:200px;
    top:38px;
    z-index:999;
    border-left:1px solid #93959a;
    border-bottom:1px solid #93959a;
    box-shadow:-5px 5px 10px -5px #93959a;
    background-color:#f2f0ec;
}
#register_popup {
    padding:5px;
    position:relative;
    float:right;
    width:200px;
    top:38px;
    z-index:9999;
    border-left:1px solid #93959a;
    border-bottom:1px solid #93959a;
    box-shadow:-5px 5px 10px -5px #93959a;
    background-color:#f2f0ec;
}
#main {
    margin:0 auto;
    padding:60px 0 0 0;
    width:960px;
}
footer {
    padding:3px;;
    position:fixed;
    bottom:0;
    z-index:999;
    width:100%;
    background-color:#f2f0ec;
    box-shadow:0px 0px 15px 0px #93959a;
    border-top:1px solid #93959a;
}
.red_accent {
    color:#a60000;
}
.gold_accent { 
    color:#dfb562;
}
.hidden {
    display:none;
}
.visible {
    display:block;
}
.close {
    float:right;
}
.close a {
    text-decoration:none;
    color:#a60000;
}
.close a:hover {
    color:#dfb562;
}
@font-face {
    font-family:roboto;
    src: url('roboto.woff');
}
