<ul>
    <% @tags.each do |t| %>
        <li>
            <%= link_to t.name, tag_path(t.id) %> <%= link_to "Delete", bookmark_tagging_path(:bookmark_id => @bookmark.id, :tag_id => t.id), :method => :delete %>
        </li>
    <% end %>
</ul>
